/*
#002a32 maastricht blue
#c4a29e tuscany
#eba6a9 pastel pink
#ffc6ac peach
#f40076 winter sky
*/


body {
  background-color:#c4a29e;
}

#formula-builder {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#formula-builder-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#formula-builder-header {
    padding: 2px 16px;
    background-color: #002a32;
    color: white;
}

.modal-body {padding: 2px 16px;}

#formula-builder-footer {
    padding: 2px 16px;
    background-color: #002a32;
    color: white;
}
#formula-builder-body img {
    width:30%;
    height:20px;
    margin:10px;
}

#formula-builder-body{
  background:#ffc6ac;
}

img:hover{
  background:#ffc6ac;
  outline: 2px solid #002a32;
}

#button-done{
    height:40px;
    width:100px;
}

ul img{
    height:20px;
    width:100%;
    padding:5px;
}

}
